.popup__caption {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 291px;
}

@media screen and (max-width: 580px) {
  .popup__caption {
    max-width: 240px;
  }
}
