.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 45px;
  margin: 0 auto;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 880px) {
  .header {
    padding-top: calc(28px + (45 - 28) * ((100vw - 320px) / (880 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 28px;
  }
}
