.element__del {
  position: absolute;
  background-image: url(../../../images/del-button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 18px;
  height: 19px;
  left: 244px;
  top: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.element__del:hover {
  opacity: .6;
}
