.popup__form {
  width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  grid-column-start: 1;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 358px;
  justify-content: center;
  cursor: default;
}

@media screen and (max-width: 580px) {
  .popup__form {
    width: 282px;
    grid-template-columns: 238px;
  }
}
